.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    background-color: #ffffff;
}
.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #333;
  
}
.main .nav p{
    font-weight: 700;
}
.main img{
    height: 40px;
    border-radius: 50%;
}
.main-container {
    max-width: 900px;
    margin: auto;
}
.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    padding: 20px;
    font-weight: 500;
}
.main .greet span{
    background: rgb(116,34,158);
    background: linear-gradient(0deg, rgba(116,34,158,1) 5%, rgba(166,6,139,1) 77%);
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main .cards {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
    margin-bottom: 30px;
}
.main .card{
    height: 180px;
    padding: 15px;
    background-color: #f0f4f9;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    transition: ease-in-out 1.5s;
}
.main .card .icon{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}
.main .card p{
    color: #333;
    font-size: 17px;
}
.main .card:hover{
    background: rgb(116,34,158);
    background: linear-gradient(0deg, rgba(116,34,158,1) 5%, rgba(166,6,139,1) 77%);
    
}
.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 10px;
}
.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
  
}
.search-box button {
    width: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.search-box input{
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}
.search-box div{
    gap: 15px;
    display: flex;
    align-items: center;
}
.main .bottom-info{
    font-size: 13px;
    margin: 10px;
    text-align: center;
    font-weight: 300;
}
.result {
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}
.result::-webkit-scrollbar{
    display: none;
}
.result-title {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;

}
.result-data {
    display: flex;
    align-items: start;
    gap: 15px;
}
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #240A34;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #891652;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
@media (max-width:600px) {
    .main-bottom input{
        flex: none;
        width: 150px;
    }
    .search-box {
        padding: 5px 10px;
    }
}